<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>お問い合わせ一覧</title>
</head>

<body>
	<h1>お問い合わせ一覧</h1>
	<table border="1">
		<tr>
			<th>お問い合わせID</th>
			<th>姓</th>
			<th>名</th>
			<th>お問い合わせ種別</th>
			<th>作成日時</th>
			<th>更新日時</th>
		</tr>

		<tr th:each="contact : ${contactlist}">
			<td th:text="${contact.id}"></td>
			<td th:text="${contact.lastName}"></td>
			<td th:text="${contact.firstName}"></td>
			<td th:text="${contact.contactType}"></td>
			<td th:text="${#dates.format(contact.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
			<td th:text="${#dates.format(contact.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
			<td>
				<a th:href="@{/admin/contacts/{id}(id=${contact.id})}">詳細</a>
				<a th:href="@{/admin/contacts/{id}/edit(id=${contact.id})}">編集</a>
				<a th:href="@{/admin/contacts/{id}/delete(id=${contact.id})}"
					onclick="return confirm('本当に削除しますか？');">削除</a>
			</td>
		</tr>
	</table>
	<a th:href="@{/admin/signin}">ログアウト</a>
</body>

</html>