<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>管理者ログイン画面</title>
</head>

<body>
	<h1>管理者ログイン画面</h1>
	<form th:action="@{/admin/signin}" th:object="${adminForm}" method="post">
		<table border="1">
			<tr>
				<td>ログインID</td>
				<td>
					<input type="text" th:field="*{email}">
				</td>
			</tr>
			<tr>
				<td>パスワード</td>
				<td>
					<input type="password" th:field="*{password}">
				</td>
			</tr>
		</table>
		<button type="submit">ログイン</button>
	</form>
	<a th:href="@{/admin/signup}">新規登録はこちら</a>
</body>

</html>